In [2]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import os
import sys
import numpy as np

csv1 = '../data/overdose_counts.csv'
csv2 = '../data/opiate_prescribers15.csv'
csv3 = '../data/opiate_prescribers16.csv'
csv4 = '../data/physician_ratings16.csv'
csv5 = '../data/physician_ratings15.csv'
csv6 = '../data/Physician_Compare_2015_Group_Patient_Experience.csv'
csv7 = '../data/Physician_Compare_2016_Group_Patient_Experience.csv'

output1 = '../Presentation/Clean/op_final_15.csv'
output2 = '../Presentation/Clean/op_final_16.csv'

overdose_counts = pd.read_csv(csv1)
op_prescriber15 = pd.read_csv(csv2)
op_prescriber16 = pd.read_csv(csv3)
phys_ratings16 = pd.read_csv(csv4)
phys_ratings15 = pd.read_csv(csv5)
pc_rating15 = pd.read_csv(csv6)
pc_rating16 = pd.read_csv(csv7)

In [3]:
#raw dataframe
overdose_counts.head()

                                                                                                                                 VSRR_Provisional_Drug_Overdose_Death_Counts
State State Name Year Month    Indicator        Data Value Predicted Value Percent Complete Percent Pending Investigation                                           Footnote
AK    AK         2015 January  Number of Deaths 4,034      NaN             100              0                              Numbers may differ from published reports usin...
                      February Number of Deaths 4,084      NaN             100              0                              Numbers may differ from published reports usin...
                      March    Number of Deaths 4,101      NaN             100              0                              Numbers may differ from published reports usin...
NM    NM         2018 January  Number of Deaths 18,147     NaN             100              0.170827133961536                          Underreported due to incomplete data.

In [4]:
#reset index
odcount = overdose_counts.reset_index()
odcount

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,VSRR_Provisional_Drug_Overdose_Death_Counts
0,State,State Name,Year,Month,Indicator,Data Value,Predicted Value,Percent Complete,Percent Pending Investigation,Footnote
1,AK,AK,2015,January,Number of Deaths,"4,034",NaN,100,0,Numbers may differ from published reports usin...
2,AK,AK,2015,February,Number of Deaths,"4,084",NaN,100,0,Numbers may differ from published reports usin...
3,AK,AK,2015,March,Number of Deaths,"4,101",NaN,100,0,Numbers may differ from published reports usin...
4,NM,NM,2018,January,Number of Deaths,"18,147",NaN,100,0.170827133961536,Underreported due to incomplete data.
5,AK,AK,2015,April,Number of Deaths,"4,133",NaN,100,0,Numbers may differ from published reports usin...
6,AK,AK,2015,May,Number of Deaths,"4,196",NaN,100,0,Numbers may differ from published reports usin...
7,NM,NM,2018,February,Number of Deaths,"18,148",NaN,100,0.170817720960987,Underreported due to incomplete data.
8,NM,NM,2018,March,Number of Deaths,"18,178",NaN,100,0.170535812520629,Underreported due to incomplete data.
9,NM,NM,2018,April,Number of Deaths,"18,162",NaN,100,0.187204052417135,Underreported due to incomplete data.
10,AK,AK,2015,June,Number of Deaths,"4,201",NaN,100,0,Numbers may differ from published reports usin...
11,NM,NM,2018,May,Number of Deaths,"18,028",NaN,100,0.221877080097626,Underreported due to incomplete data.
12,NM,NM,2018,June,Number of Deaths,"18,143",NaN,100,0.270076613569972,Underreported due to incomplete data.
13,AK,AK,2015,January,Number of Deaths,"4,034",NaN,100,0,Numbers may differ from published reports usin...
14,AK,AK,2015,February,Number of Deaths,"4,084",NaN,100,0,Numbers may differ from published reports usin...
15,AK,AK,2015,March,Number of Deaths,"4,101",NaN,100,0,Numbers may differ from published reports usin...
16,AK,AK,2015,April,Number of Deaths,"4,133",NaN,100,0,Numbers may differ from published reports usin...
17,AK,AK,2015,May,Number of Deaths,"4,196",NaN,100,0,Numbers may differ from published reports usin...
18,AK,AK,2015,June,Number of Deaths,"4,201",NaN,100,0,Numbers may differ from published reports usin...
19,AK,AK,2015,July,Number of Deaths,"4,220",NaN,100,0,Numbers may differ from published reports usin...
20,AK,AK,2015,August,Number of Deaths,"4,222",NaN,100,0,Numbers may differ from published reports usin...
21,AK,AK,2015,September,Number of Deaths,"4,242",NaN,100,0,Numbers may differ from published reports usin...
22,AK,AK,2015,October,Number of Deaths,"4,241",NaN,100,0,Numbers may differ from published reports usin...
23,AK,AK,2015,November,Number of Deaths,"4,219",NaN,100,0,Numbers may differ from published reports usin...
24,AK,AK,2015,December,Number of Deaths,"4,193",NaN,100,0,Numbers may differ from published reports usin...
25,AK,AK,2016,January,Number of Deaths,"4,213",NaN,100,0,Numbers may differ from published reports usin...
26,AK,AK,2016,February,Number of Deaths,"4,198",NaN,100,0,Numbers may differ from published reports usin...
27,AK,AK,2016,March,Number of Deaths,"4,230",NaN,100,0,Numbers may differ from published reports usin...
28,AK,AK,2016,April,Number of Deaths,"4,262",NaN,100,0,Numbers may differ from published reports usin...
29,AK,AK,2016,May,Number of Deaths,"4,241",NaN,100,0,Numbers may differ from published reports usin...
...,...,...,...,...,...,...,...,...,...,...
24089,YC,YC,2016,March,"Synthetic opioids, excl. methadone (T40.4)",239,242,100,0.031747810334846,Numbers may differ from published reports usin...
24090,YC,YC,2016,April,"Synthetic opioids, excl. methadone (T40.4)",280,283,100,0.0298976007175424,Numbers may differ from published reports usin...
24091,YC,YC,2016,May,"Synthetic opioids, excl. methadone (T40.4)",310,314,100,0.0504710632570659,Numbers may differ from published reports usin...
24092,YC,YC,2016,June,"Synthetic opioids, excl. methadone (T40.4)",343,347,100,0.0411715167961074,Numbers may differ from published reports usin...
24093,YC,YC,2016,July,"Synthetic opioids, excl. methadone (T40.4)",399,404,100,0.0392508691263878,Numbers may differ from published reports usin...
24094,YC,YC,2016,August,"Synthetic opioids, excl. methadone (T40.4)",441,446,100,0.0373936617743292,Numbers may differ from published reports usin...
24095,YC,YC,2016,September,"Synthetic opioids, excl. methadone (T40.4)",476,481,100,0.0373601330020735,Numbers may differ from published reports usin...
24096,YC,YC,2016,October,"Synthetic opioids, excl. methadone (T40.4)",492,497,100,0.0373517602016995,Numbers may differ from published reports usin...
24097,YC,YC,2016,November,"Synthetic opioids, excl. methadone (T40.4)",529,535,100,0.0371181470620987,Numbers may differ from published reports usin...
24098,YC,YC,2016,December,"Synthetic opioids, excl. methadone (T40.4)",579,586,100,0.0405305821665438,Numbers may differ from published reports usin...
24099,YC,YC,2017,January,"Synthetic opioids, excl. methadone (T40.4)",629,636,100,0.0384855037935711,Numbers may differ from published reports usin...
24100,YC,YC,2017,February,"Synthetic opioids, excl. methadone (T40.4)",639,646,100,0.0386008124551955,Numbers may differ from published reports usin...
24101,YC,YC,2017,March,"Synthetic opioids, excl. methadone (T40.4)",627,634,100,0.0387847446670976,Numbers may differ from published reports usin...
24102,YC,YC,2017,April,"Synthetic opioids, excl. methadone (T40.4)",640,647,100,0.0388406976529121,Numbers may differ from published reports usin...
24103,YC,YC,2017,May,"Synthetic opioids, excl. methadone (T40.4)",668,673,100,0.0184522271838211,Numbers may differ from published reports usin...
24104,YC,YC,2017,June,"Synthetic opioids, excl. methadone (T40.4)",703,708,100,0.0184348787906719,Numbers may differ from published reports usin...
24105,YC,YC,2017,July,"Synthetic opioids, excl. methadone (T40.4)",714,719,100,0.018450184501845,Numbers may differ from published reports usin...
24106,YC,YC,2017,August,"Synthetic opioids, excl. methadone (T40.4)",724,730,100,0.0202985735638759,Numbers may differ from published reports usin...
24107,YC,YC,2017,September,"Synthetic opioids, excl. methadone (T40.4)",754,760,100,0.0220868380850711,Numbers may differ from published reports usin...
24108,YC,YC,2017,October,"Synthetic opioids, excl. methadone (T40.4)",781,788,100,0.0276309245307348,Numbers may differ from published reports usin...
24109,YC,YC,2017,November,"Synthetic opioids, excl. methadone (T40.4)",797,806,100,0.0387161003668811,Numbers may differ from published reports usin...
24110,YC,YC,2017,December,"Synthetic opioids, excl. methadone (T40.4)",805,815,100,0.0441834348938677,Numbers may differ from published reports usin...
24111,YC,YC,2018,January,"Synthetic opioids, excl. methadone (T40.4)",812,818,100,0.0493267807881323,Underreported due to incomplete data.
24112,YC,YC,2018,February,"Synthetic opioids, excl. methadone (T40.4)",815,825,100,0.0655510843241865,Underreported due to incomplete data.
24113,YC,YC,2018,March,"Synthetic opioids, excl. methadone (T40.4)",840,855,100,0.0781917698616187,Underreported due to incomplete data.
24114,YC,YC,2018,April,"Synthetic opioids, excl. methadone (T40.4)",865,883,100,0.0980605796469819,Underreported due to incomplete data.
24115,YC,YC,2018,May,"Synthetic opioids, excl. methadone (T40.4)",866,890,100,0.125644153904984,Underreported due to incomplete data.
24116,YC,YC,2018,June,"Synthetic opioids, excl. methadone (T40.4)",863,894,100,0.150914578711953,Underreported due to incomplete data.
24117,YC,YC,2018,July,"Synthetic opioids, excl. methadone (T40.4)",856,893,100,0.188970655037703,Underreported due to incomplete data.
24118,YC,YC,2018,August,"Synthetic opioids, excl. methadone (T40.4)",874,917,100,0.229120069827069,Underreported due to incomplete data.

In [5]:
#drop unnecessary columns
odcount = odcount.drop(columns=['level_1','level_6','level_7','level_8','VSRR_Provisional_Drug_Overdose_Death_Counts'])
odcount.head()

  level_0 level_2   level_3           level_4     level_5
0   State    Year     Month         Indicator  Data Value
1      AK    2015   January  Number of Deaths       4,034
2      AK    2015  February  Number of Deaths       4,084
3      AK    2015     March  Number of Deaths       4,101
4      NM    2018   January  Number of Deaths      18,147

In [6]:
#rename columns
odcount = odcount.rename(columns={'level_0':'State','level_2':'Year','level_3':'Month','level_4':'Indicator','level_5':'Overdose'})
odcount.head()

   State  Year     Month         Indicator    Overdose
0  State  Year     Month         Indicator  Data Value
1     AK  2015   January  Number of Deaths       4,034
2     AK  2015  February  Number of Deaths       4,084
3     AK  2015     March  Number of Deaths       4,101
4     NM  2018   January  Number of Deaths      18,147

In [7]:
#drop index 0 and print data frame
deathcounts = odcount.drop([0])
deathcounts.head()

  State  Year     Month         Indicator Overdose
1    AK  2015   January  Number of Deaths    4,034
2    AK  2015  February  Number of Deaths    4,084
3    AK  2015     March  Number of Deaths    4,101
4    NM  2018   January  Number of Deaths   18,147
5    AK  2015     April  Number of Deaths    4,133

In [8]:
#Opiate Prescribers-2015 data frame
op_prescriber15.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,Long-Acting Opioid Claims,Long-Acting Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825,38.0,4.606061,NaN,NaN
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757,847.0,48.207171,174.0,20.543093
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43,16.0,37.209302,0.0,0.000000
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15,0.0,0.000000,0.0,NaN
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114,21.0,18.421053,0.0,0.000000

In [9]:
#drop last two columns: Long Acting Opioid Claims and Long Acting Opioid Prescribing Rate
op_prescriber15 = op_prescriber15.drop(columns=['Long-Acting Opioid Claims','Long-Acting Opioid Prescribing Rate'])
op_prescriber15.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825,38.0,4.606061
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757,847.0,48.207171
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43,16.0,37.209302
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15,0.0,0.000000
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114,21.0,18.421053

In [10]:
#renamed columns
op_prescriber15 = op_prescriber15.rename(columns={'NPPES Provider Last Name':'Provider Last Name','NPPES Provider First Name':'Provider First Name','NPPES Provider ZIP Code':'Zip Code','NPPES Provider State':'State','Specialty Description':'Specialty'})
op_prescriber15.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825,38.0,4.606061
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757,847.0,48.207171
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43,16.0,37.209302
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15,0.0,0.000000
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114,21.0,18.421053

In [11]:
#Opiate Prescribers-2016 data frame
op_prescriber16.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,Long-Acting Opioid Claims,Long-Acting Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545,23.0,4.220183,NaN,NaN
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733,941.0,54.298904,165.0,17.534538
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49,11.0,22.448980,0.0,0.000000
3,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,146,NaN,NaN,0.0,NaN
4,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225,17.0,0.764045,NaN,NaN

In [12]:
#drop last two columns: Long Acting Opioid Claims and Long Acting Opioid Prescribing Rate
op_prescriber16 = op_prescriber16.drop(columns=['Long-Acting Opioid Claims','Long-Acting Opioid Prescribing Rate'])
op_prescriber16.head()

,NPI,NPPES Provider Last Name,NPPES Provider First Name,NPPES Provider ZIP Code,NPPES Provider State,Specialty Description,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545,23.0,4.220183
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733,941.0,54.298904
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49,11.0,22.448980
3,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,146,NaN,NaN
4,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225,17.0,0.764045

In [13]:
#renamed columns
op_prescriber16 = op_prescriber16.rename(columns={'NPPES Provider Last Name':'Provider Last Name','NPPES Provider First Name':'Provider First Name','NPPES Provider ZIP Code':'Zip Code','NPPES Provider State':'State','Specialty Description':'Specialty'})
op_prescriber16.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545,23.0,4.220183
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733,941.0,54.298904
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49,11.0,22.448980
3,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,146,NaN,NaN
4,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225,17.0,0.764045

In [14]:
#Physician Ratings 2016
phys_ratings16.head()

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Denominator Count,Collection Type,Reported on PC Live Site
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,20,71,CLM,N
1,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,N,41,90,CLM,N
2,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,N,29,70,CLM,N
3,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_130_1,Documentation of Current Medications in the Me...,N,91,255,CLM,N
4,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_226_1,Preventive Care and Screening: Tobacco Use: Sc...,N,98,104,CLM,N

In [15]:
#dropped 'inverse measure','collection type', and 'reported on pc live site'
ratings2016 = phys_ratings16.drop(columns=['PAC ID','Inverse Measure','Collection Type','Reported on PC Live Site'])
ratings2016.head()

,NPI,Last Name,First Name,Measure Identifier,Measure Title,Measure Performance Rate,Denominator Count
0,1508823618,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,20,71
1,1508823618,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,41,90
2,1508823618,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,29,70
3,1508823618,GRIFFIN,DAVID,PQRS_EP_130_1,Documentation of Current Medications in the Me...,91,255
4,1508823618,GRIFFIN,DAVID,PQRS_EP_226_1,Preventive Care and Screening: Tobacco Use: Sc...,98,104

In [16]:
phys_ratings15.head()

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Reporting Mechanism,Reported on PC Live Site
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,21,CLM,Y
1,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,N,28,CLM,Y
2,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_112_1,Breast Cancer Screening,N,37,CLM,Y
3,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,N,22,CLM,Y
4,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_128_1,Preventive Care and Screening: Body Mass Index...,N,42,CLM,Y

In [17]:
phys_ratings15['Year'] = 2015

In [18]:
phys_ratings15.head()

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Reporting Mechanism,Reported on PC Live Site,Year
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,21,CLM,Y,2015
1,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,N,28,CLM,Y,2015
2,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_112_1,Breast Cancer Screening,N,37,CLM,Y,2015
3,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,N,22,CLM,Y,2015
4,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_128_1,Preventive Care and Screening: Body Mass Index...,N,42,CLM,Y,2015

In [19]:
physratings15 = phys_ratings15[['NPI','PAC ID','Year']]
physratings15.head()

          NPI    PAC ID  Year
0  1508823618  42100117  2015
1  1508823618  42100117  2015
2  1508823618  42100117  2015
3  1508823618  42100117  2015
4  1508823618  42100117  2015

In [20]:
physratings15clean = physratings15.drop_duplicates(keep=False)

In [21]:
physratings15clean.head()

           NPI    PAC ID  Year
11  1154338044  42100190  2015
12  1982641247  42100273  2015
19  1033197512  42100547  2015
20  1447242219  42100687  2015
23  1881799146  42101156  2015

In [22]:
op_prescriber15.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
count,1.102253e+06,1.102191e+06,1.102253e+06,788434.000000,788434.000000
mean,1.499733e+09,4.804722e+04,1.312845e+03,99.576332,11.481685
std,2.879199e+08,3.034006e+04,3.149188e+03,311.294988,17.653588
min,1.003000e+09,0.000000e+00,1.100000e+01,0.000000,0.000000
25%,1.245660e+09,2.120100e+04,5.300000e+01,0.000000,0.000000
50%,1.497967e+09,4.503600e+04,1.970000e+02,20.000000,3.333333
75%,1.740692e+09,7.671000e+04,9.920000e+02,75.000000,15.434783
max,1.993000e+09,9.992900e+04,2.951030e+05,22627.000000,100.000000

In [23]:
#here we wanted to drop the rows with missing values, specifically we knew that many fields were missing the opioid claim column
op_prescriber15clean = op_prescriber15.dropna(axis=0, how='any')
op_prescriber15clean.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
count,7.883500e+05,788350.000000,788350.000000,788350.000000,788350.000000
mean,1.499459e+09,48167.322364,1634.435642,99.583408,11.482064
std,2.878226e+08,30221.416054,3587.776354,311.308274,17.653566
min,1.003000e+09,0.000000,11.000000,0.000000,0.000000
25%,1.245643e+09,21237.000000,71.000000,0.000000,0.000000
50%,1.497950e+09,44718.000000,272.000000,20.000000,3.333333
75%,1.740609e+09,76508.000000,1452.000000,75.000000,15.436242
max,1.993000e+09,99929.000000,295103.000000,22627.000000,100.000000

In [24]:
op_prescriber16.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
count,1.131550e+06,1.131496e+06,1.131550e+06,812675.000000,812675.000000
mean,1.499842e+09,4.806819e+04,1.308800e+03,95.721827,10.932238
std,2.879109e+08,3.029546e+04,3.147395e+03,313.751936,17.386558
min,1.003000e+09,0.000000e+00,1.100000e+01,0.000000,0.000000
25%,1.245689e+09,2.120100e+04,5.400000e+01,0.000000,0.000000
50%,1.497973e+09,4.503900e+04,2.000000e+02,19.000000,2.872671
75%,1.740699e+09,7.657400e+04,1.000000e+03,69.000000,14.080460
max,1.993000e+09,9.992900e+04,3.242090e+05,21767.000000,100.000000

In [25]:
#here we wanted to drop the rows with missing values, specifically we knew that many fields were missing the opioid claim column
op_prescriber16clean = op_prescriber16.dropna(axis=0, how='any')
op_prescriber16clean.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate
count,8.125870e+05,812587.000000,812587.000000,812587.000000,812587.000000
mean,1.499614e+09,48120.618094,1621.663161,95.728647,10.932670
std,2.878957e+08,30176.262817,3578.562794,313.766038,17.386652
min,1.003000e+09,0.000000,11.000000,0.000000,0.000000
25%,1.245670e+09,21239.000000,72.000000,0.000000,0.000000
50%,1.497952e+09,44622.000000,273.000000,19.000000,2.873160
75%,1.740681e+09,76424.000000,1450.000000,69.000000,14.084418
max,1.993000e+09,99929.000000,324209.000000,21767.000000,100.000000

In [26]:
op_prescriber15_merged = op_prescriber15clean.merge(physratings15clean, on="NPI", how="outer")
op_prescriber15_merged.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,825.0,38.0,4.606061,NaN,NaN
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1757.0,847.0,48.207171,NaN,NaN
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,43.0,16.0,37.209302,NaN,NaN
3,1003000175,REYES-VASQUEZ,BELINDA,91744.0,CA,Dentist,15.0,0.0,0.000000,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,37243.0,TN,Nurse Practitioner,114.0,21.0,18.421053,NaN,NaN

In [27]:
#here we note that we have way more NPI values than PAC ID so we will need to drop PAC ID again 
op_prescriber15_merged.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
count,8.343370e+05,788350.000000,788350.000000,788350.000000,788350.000000,7.457100e+04,74571.0
mean,1.499403e+09,48167.322364,1634.435642,99.583408,11.482064,4.990581e+09,2015.0
std,2.878216e+08,30221.416054,3587.776354,311.308274,17.653566,2.871375e+09,0.0
min,1.003000e+09,0.000000,11.000000,0.000000,0.000000,4.210019e+07,2015.0
25%,1.245640e+09,21237.000000,71.000000,0.000000,0.000000,2.466769e+09,2015.0
50%,1.497946e+09,44718.000000,272.000000,20.000000,3.333333,4.981858e+09,2015.0
75%,1.740597e+09,76508.000000,1452.000000,75.000000,15.436242,7.416973e+09,2015.0
max,1.993000e+09,99929.000000,295103.000000,22627.000000,100.000000,9.931430e+09,2015.0

In [28]:
op_prescriber15_final = op_prescriber15_merged.dropna(axis=0, how='any')
op_prescriber15_final.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
5,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,1388.0,26.0,1.873199,2.769664e+09,2015.0
22,1003001785,JONES,JACLYN,33765.0,FL,Orthopedic Surgery,193.0,43.0,22.279793,5.799872e+09,2015.0
37,1003002932,GALUSKA,MICHAEL,92055.0,CA,Emergency Medicine,97.0,20.0,20.618557,9.739345e+09,2015.0
39,1003003856,SANTIAGO,CYNTHIA,11776.0,NY,Family Practice,2741.0,28.0,1.021525,6.305813e+09,2015.0
51,1003005109,FETTMAN,NICHOLAS,93030.0,CA,Otolaryngology,870.0,50.0,5.747126,7.214106e+09,2015.0

In [29]:
op_prescriber15_final["Specialty"].unique()

array(['Family Practice', 'Orthopedic Surgery', 'Emergency Medicine',
       'Otolaryngology', 'Internal Medicine', 'Anesthesiology',
       'Nurse Practitioner', 'General Surgery',
       'Physical Medicine and Rehabilitation', 'Neurosurgery', 'Urology',
       'Physician Assistant', 'Hematology/Oncology', 'Optometry',
       'Ophthalmology', 'Pulmonary Disease', 'Neurology', 'Cardiology',
       'Gastroenterology', 'Allergy/Immunology', 'Endocrinology',
       'Thoracic Surgery', 'Plastic and Reconstructive Surgery',
       'Diagnostic Radiology', 'Podiatry', 'Medical Oncology',
       'Pain Management', 'Colorectal Surgery (formerly proctology)',
       'Obstetrics/Gynecology', 'Interventional Cardiology',
       'Interventional Pain Management', 'Psychiatry',
       'Certified Nurse Midwife', 'Nephrology', 'Vascular Surgery',
       'Rheumatology', 'Osteopathic Manipulative Medicine',
       'Infectious Disease', 'Multispecialty Clinic/Group Practice',
       'Pathology', 'General Practice', 'Geriatric Medicine',
       'Cardiac Surgery', 'CRNA', 'Dermatology', 'Gynecological/Oncology',
       'Interventional Radiology', 'Cardiac Electrophysiology',
       'Hand Surgery', 'Pediatric Medicine',
       'Critical Care (Intensivists)', 'Maxillofacial Surgery',
       'Anesthesiologist Assistants', 'Surgical Oncology',
       'Radiation Oncology', 'Certified Clinical Nurse Specialist',
       'Nuclear Medicine', 'Hospice and Palliative Care',
       'Geriatric Psychiatry', 'Preventive Medicine', 'Hematology',
       'Unknown Physician Specialty Code',
       'Audiologist (billing independently)', 'Sleep Medicine',
       'Sports Medicine', 'Neuropsychiatry', 'Chiropractic',
       'Peripheral Vascular Disease', 'Clinical Psychologist',
       'Oral Surgery (dentists only)', 'Addiction Medicine',
       'Student in an Organized Health Care Education/Training Program'],
      dtype=object)

In [30]:
op_prescriber15_final.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
count,2.858400e+04,28584.000000,28584.000000,28584.000000,28584.000000,2.858400e+04,28584.0
mean,1.499944e+09,50234.655926,1987.508256,135.058039,14.066292,4.959390e+09,2015.0
std,2.866188e+08,28997.742541,4077.148108,389.312817,16.724986,2.859905e+09,0.0
min,1.003000e+09,674.000000,11.000000,0.000000,0.000000,4.210019e+07,2015.0
25%,1.255365e+09,28207.000000,166.000000,14.000000,1.600227,2.466598e+09,2015.0
50%,1.497956e+09,47124.000000,373.000000,40.000000,6.995322,4.981632e+09,2015.0
75%,1.740425e+09,77030.000000,1722.000000,103.000000,22.764660,7.416176e+09,2015.0
max,1.992999e+09,99801.000000,79676.000000,15163.000000,100.000000,9.931423e+09,2015.0

In [31]:
saved_specialties = ['Family Practice', 'Emergency Medicine','Internal Medicine',\
                     'Physical Medicine and Rehabilitation', 'Neurology',\
                     'Pain Management', 'Psychiatry','General Practice',\
                     'Neuropsychiatry', 'Addiction Medicine']

In [32]:
op_prescriber15_final1 = op_prescriber15_final.loc[(op_prescriber15_final["Specialty"] == 'Family Practice') | \
                                                   (op_prescriber15_final["Specialty"] == 'Emergency Medicine') | \
                                                   (op_prescriber15_final["Specialty"] == 'Internal Medicine') | \
                                                   (op_prescriber15_final["Specialty"] == 'Physical Medicine and Rehabilitation') | \
                                                   (op_prescriber15_final["Specialty"] == 'Neurology') | \
                                                   (op_prescriber15_final["Specialty"] == 'Pain Management') | \
                                                   (op_prescriber15_final["Specialty"] == 'Psychiatry') | \
                                                   (op_prescriber15_final["Specialty"] == 'General Practice') | \
                                                   (op_prescriber15_final["Specialty"] == 'Neuropsychiatry') | \
                                                   (op_prescriber15_final["Specialty"] == 'Addiction Medicine'),:]

In [33]:
op_prescriber15_final1.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
count,1.485300e+04,14853.000000,14853.000000,14853.000000,14853.000000,1.485300e+04,14853.0
mean,1.497864e+09,52352.024776,2927.645661,175.726789,13.651318,4.955473e+09,2015.0
std,2.867357e+08,29257.026688,5172.799779,380.625909,12.205777,2.858699e+09,0.0
min,1.003000e+09,680.000000,11.000000,0.000000,0.000000,4.210019e+07,2015.0
25%,1.255338e+09,30005.000000,221.000000,27.000000,4.054714,2.466622e+09,2015.0
50%,1.497785e+09,48336.000000,456.000000,59.000000,8.665966,4.981669e+09,2015.0
75%,1.740265e+09,78701.000000,3614.000000,153.000000,22.535211,7.416132e+09,2015.0
max,1.992999e+09,99801.000000,79676.000000,15163.000000,93.750000,9.931423e+09,2015.0

In [34]:
#double check that our specialty columns match
op_prescriber15_final1.Specialty.unique()

array(['Family Practice', 'Emergency Medicine', 'Internal Medicine',
       'Physical Medicine and Rehabilitation', 'Neurology',
       'Pain Management', 'Psychiatry', 'General Practice',
       'Neuropsychiatry', 'Addiction Medicine'], dtype=object)

In [35]:
###
op_prescriber15_final1.to_csv(output1, encoding="utf-8", index=False)

In [36]:
phys_ratings16['Year'] = 2016
phys_ratings16.head()

,NPI,PAC ID,Last Name,First Name,Measure Identifier,Measure Title,Inverse Measure,Measure Performance Rate,Denominator Count,Collection Type,Reported on PC Live Site,Year
0,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_110_1,Preventive Care and Screening: Influenza Immun...,N,20,71,CLM,N,2016
1,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_111_1,Pneumonia Vaccination Status for Older Adults,N,41,90,CLM,N,2016
2,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_113_1,Colorectal Cancer Screening,N,29,70,CLM,N,2016
3,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_130_1,Documentation of Current Medications in the Me...,N,91,255,CLM,N,2016
4,1508823618,42100117,GRIFFIN,DAVID,PQRS_EP_226_1,Preventive Care and Screening: Tobacco Use: Sc...,N,98,104,CLM,N,2016

In [37]:
physratings16 = phys_ratings16[['NPI','PAC ID','Year']]
physratings16.head()

          NPI    PAC ID  Year
0  1508823618  42100117  2016
1  1508823618  42100117  2016
2  1508823618  42100117  2016
3  1508823618  42100117  2016
4  1508823618  42100117  2016

In [38]:
physratings16clean = physratings16.drop_duplicates(keep=False)
physratings16clean.head()

           NPI    PAC ID  Year
7   1154338044  42100190  2016
20  1396828901  42101651  2016
21  1225135908  42101685  2016
30  1992762215  42102246  2016
31  1871532614  42102279  2016

In [39]:
#merge 16 data on NPI, and using outer to include all data
op_prescriber16_merged = op_prescriber16clean.merge(physratings16clean, on="NPI", how="outer")
op_prescriber16_merged.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
0,1003000126,ENKESHAFI,ARDALAN,21502.0,MD,Internal Medicine,545.0,23.0,4.220183,NaN,NaN
1,1003000142,KHALIL,RASHID,43623.0,OH,Anesthesiology,1733.0,941.0,54.298904,NaN,NaN
2,1003000167,ESCOBAR,JULIO,89403.0,NV,Dentist,49.0,11.0,22.448980,NaN,NaN
3,1003000407,GIRARDI,DAVID,15825.0,PA,Family Practice,2225.0,17.0,0.764045,NaN,NaN
4,1003000480,ROTHCHILD,KEVIN,80045.0,CO,General Surgery,71.0,13.0,18.309859,NaN,NaN

In [40]:
op_prescriber16_final = op_prescriber16_merged.dropna(axis=0, how='any')
op_prescriber16_final.head()

,NPI,Provider Last Name,Provider First Name,Zip Code,State,Specialty,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
60,1003006503,JEGEDE,OLUGBEMIGA,48503.0,MI,Internal Medicine,2029.0,153.0,7.540660,1.951572e+09,2016.0
75,1003007469,OZUNA,EDUARDO,76542.0,TX,Anesthesiology,3421.0,2547.0,74.451915,7.113109e+09,2016.0
215,1003015686,BLUME,DEBORAH,1199.0,MA,Physician Assistant,2160.0,41.0,1.898148,1.850485e+09,2016.0
302,1003021205,AMUNDSEN,DEAN,93010.0,CA,Optometry,376.0,0.0,0.000000,3.451441e+08,2016.0
312,1003021973,ZHANG,ALEXANDRA,44320.0,OH,Dermatology,570.0,100.0,17.543860,9.335249e+09,2016.0

In [41]:
op_prescriber16_final.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
count,2.057300e+04,20573.000000,20573.000000,20573.000000,20573.000000,2.057300e+04,20573.0
mean,1.499194e+09,46911.155106,2632.347300,168.237107,10.974768,4.936086e+09,2016.0
std,2.877764e+08,28686.363387,4775.172833,503.078464,18.035174,2.856249e+09,0.0
min,1.003007e+09,612.000000,11.000000,0.000000,0.000000,4.210019e+07,2016.0
25%,1.245565e+09,25301.000000,223.000000,0.000000,0.000000,2.466627e+09,2016.0
50%,1.497990e+09,40223.000000,680.000000,32.000000,3.515799,4.880850e+09,2016.0
75%,1.740483e+09,75231.000000,2984.000000,123.000000,9.900990,7.416073e+09,2016.0
max,1.992993e+09,99801.000000,131567.000000,15462.000000,100.000000,9.931495e+09,2016.0

In [42]:
op_prescriber16_final1 = op_prescriber16_final.loc[(op_prescriber16_final["Specialty"] == 'Family Practice') | \
                                                   (op_prescriber16_final["Specialty"] == 'Emergency Medicine') | \
                                                   (op_prescriber16_final["Specialty"] == 'Internal Medicine') | \
                                                   (op_prescriber16_final["Specialty"] == 'Physical Medicine and Rehabilitation') | \
                                                   (op_prescriber16_final["Specialty"] == 'Neurology') | \
                                                   (op_prescriber16_final["Specialty"] == 'Pain Management') | \
                                                   (op_prescriber16_final["Specialty"] == 'Psychiatry') | \
                                                   (op_prescriber16_final["Specialty"] == 'General Practice') | \
                                                   (op_prescriber16_final["Specialty"] == 'Neuropsychiatry') | \
                                                   (op_prescriber16_final["Specialty"] == 'Addiction Medicine'),:]

In [43]:
op_prescriber16_final1.Specialty.unique()

array(['Internal Medicine', 'Family Practice',
       'Physical Medicine and Rehabilitation', 'Neurology', 'Psychiatry',
       'Emergency Medicine', 'General Practice', 'Pain Management',
       'Neuropsychiatry', 'Addiction Medicine'], dtype=object)

In [44]:
op_prescriber16_final1.describe()

,NPI,Zip Code,Total Claim Count,Opioid Claim Count,Opioid Prescribing Rate,PAC ID,Year
count,8.230000e+03,8230.000000,8230.000000,8230.000000,8230.000000,8.230000e+03,8230.0
mean,1.500904e+09,47352.179708,4784.229162,252.877035,7.262434,4.983135e+09,2016.0
std,2.878875e+08,29088.490935,6517.829504,553.005548,10.919184,2.848711e+09,0.0
min,1.003007e+09,612.000000,11.000000,0.000000,0.000000,4.210019e+07,2016.0
25%,1.245504e+09,23805.000000,426.250000,23.000000,2.269129,2.567496e+09,2016.0
50%,1.508833e+09,40216.000000,2483.000000,71.000000,4.451316,4.981794e+09,2016.0
75%,1.740595e+09,76104.000000,6814.250000,265.000000,7.523288,7.416946e+09,2016.0
max,1.992972e+09,99801.000000,131567.000000,15462.000000,90.740741,9.931429e+09,2016.0

In [45]:
##send to new csv
op_prescriber16_final1.to_csv(output2, encoding="utf-8", index=False)